/* Estilos Comuns */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Estilos Específicos do Admin */
.admin-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 20px;
}

.admin-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.admin-table, .admin-table th, .admin-table td {
    border: 1px solid #ddd;
}

.admin-table th, .admin-table td {
    padding: 10px;
    text-align: left;
}

.admin-table th {
    background-color: #f2f2f2;
}

.admin-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.admin-btn {
    padding: 5px 10px;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.admin-btn-success {
    background-color: #28a745;
}

.admin-btn-danger {
    background-color: #dc3545;
}

.admin-btn-logout, .admin-btn-cadastrar {
    margin: 10px 0;
    display: inline-block;
}

.admin-popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.admin-popup-open {
    display: block;
}

.admin-popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.admin-popup-overlay-open {
    display: block;
}

/* Estilos Específicos do Login do Administrador */
.admin-login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
    margin: 0;
}

.admin-login .login-container {
    max-width: 400px;
    width: 100%;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.admin-login .login-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.admin-login .mb-3 {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.admin-login .form-label {
    display: block;
    margin-bottom: .5rem;
}

.admin-login .form-control {
    display: block;
    width: 100%;
    max-width: 300px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.admin-login .btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.admin-login .btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.admin-login .btn-block {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 1rem auto 0;
}
